.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    filter: invert(0.5);
    opacity: 0.5;

    span {
        font-size: 18px;
        font-weight: 500;
        max-width: 150px;
        color: #FBD008;
        overflow: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    img {
        margin-bottom: 8px;
        width: 30px;
        height: 30px;
        filter: invert(0);
        object-fit: contain;
        padding: 10px;
        border: 6px solid #FBD008;
        border-radius: 70px;
    }
}

.player-active {
    filter: invert(0.0);
    opacity: 1;
}