.message {
    font-family: "Teko", sans-serif;
    bottom: 50vh;
    left: calc(100vw + 500px);
    width: max-content;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    background-color: rgba(255, 255, 0, 0.67);
    border-radius: 10px;
    animation: messageAnimationIn 2.0s ease-in-out;
}

@keyframes messageAnimationIn {
    0% {
        left: -500px;
    }

    10% {
        left: calc(50vw - 160px);
    }

    90% {
        left: calc(50vw - 160px);
    }

    100% {
        left: calc(100vw + 500px);
    }




}