.start-screen {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

.button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 50px);
    padding-bottom: 50px;
    width: max-content;
    z-index: 99;
    cursor: pointer;
}

.buttonImg {
    width: 80%;
    opacity: 0.4;
    transition: all 0.5s ease-in-out;

    &:hover {
        opacity: 1 !important;
    }
}


.buttonImg:hover+.button-text img {
    opacity: 1;

}

.button-text {
    position: absolute;
    bottom: 25px;
    z-index: 1;
}

.button-text img {
    filter: invert(1);
    width: 80px;
    opacity: 0.2;
    transition: all 0.5s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.button-hover {
    position: absolute;
    height: 200px;
    width: 200px;
}

.title {
    position: absolute;
    width: 100%;
    top: 70px;
    display: flex;
    justify-content: center;
    animation: titleInAnimation 3s ease-in-out;

    img {
        width: 30%;
        z-index: 1;
        opacity: 0.9;
    }
}

.cards {
    position: absolute;
    width: 100%;
    left: calc(50% + 9%);
    bottom: calc(100vh - ((100vw * 0.3 / 1.5285)) - 70px);
    opacity: 0.9;

    img {
        width: 13%;
        rotate: 30deg;
        animation: cardInAnimation 6s ease-in-out;
    }
}

@keyframes titleInAnimation {
    from {
        opacity: 0;
        scale: 0.1;
    }

    85% {
        scale: 1.1;
    }

    to {
        scale: 1;
        opacity: 0.9;
    }
}

@keyframes cardInAnimation {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
        rotate: -30deg;
    }

    70% {
        rotate: 30deg;
    }

    100% {

        opacity: 0.9;
    }
}

@keyframes textPlayAnimation {
    from {
        transform: translateY(15px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes textPlayAnimationReverse {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

@media (max-width: 1023px) {
    .title {

        img {
            width: 50%;
            z-index: 1;
            opacity: 0.9;
        }
    }

    .cards {
        left: calc(50% + 15%);
        bottom: calc(100vh - ((100vw * 0.5 / 1.5285)) - 70px);


        img {
            width: 22%;
        }
    }

    .buttonImg {
        width: 15vh;
        opacity: 0.4;
        transition: all 0.5s ease-in-out;
    }

}