<div class="start-screen">
    <div id="buttonId" class="button">
        <img class="buttonImg" src="./../../assets/img/start/fire_smal.gif" alt="">
        <div id="buttonIdText" class="button-text">
            <img class="d-none" id="buttonTextId" src="./../../assets/img/start/play-button.png" alt="">
        </div>
    </div>
    <div class="title">
        <img src="./../../assets/img/start/logo3.png" alt="">
    </div>
    <div class="cards">
        <img src="./../../assets/img/start/playing-cards-white.png" alt="">
    </div>
</div>