.start-screen {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

.button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 50px);
    padding-bottom: 50px;
    width: max-content;
    z-index: 99;
    cursor: pointer;
}

.buttonImg {
    width: 200px;
    opacity: 0.4;
    transition: all 0.5s ease-in-out;
}

.button img:hover {
    opacity: 1 !important;
}

.buttonTextIn {
    bottom: 0px;
    animation: textPlayAnimation 0.4s ease-in-out;
}

.buttonTextOut {
    bottom: 15px;
    animation: textPlayAnimationReverse 0.4s ease-in-out;

}

.button-text {
    position: absolute;
    bottom: 50px;
    z-index: 1;
}

.button-text img {
    filter: invert(1);
    width: 80px;
}

.button-hover {
    position: absolute;
    height: 200px;
    width: 200px;
}

.title {
    position: absolute;
    width: 100%;
    top: 70px;
    display: flex;
    justify-content: center;
    animation: titleInAnimation 3s ease-in-out;

    img {
        width: 500px;
        z-index: 1;
        opacity: 0.9;
    }
}

.cards {
    position: absolute;
    width: 100%;
    left: calc(50% + 130px);
    top: 170px;
    opacity: 0.9;

    img {
        width: 200px;
        rotate: 30deg;
        animation: cardInAnimation 6s ease-in-out;
    }

}

@keyframes titleInAnimation {
    from {
        opacity: 0;
        scale: 0.1;
    }

    85% {
        scale: 1.1;
    }

    to {
        scale: 1;
        opacity: 0.9;
    }
}

@keyframes cardInAnimation {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
        rotate: -30deg;
    }

    70% {
        rotate: 30deg;
    }

    100% {

        opacity: 0.9;
    }
}

@keyframes textPlayAnimation {
    from {
        transform: translateY(15px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes textPlayAnimationReverse {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}