<app-player *ngFor="let player of game.players; let i =index;" [ngStyle]="{'top.px' : 70 + (i * 110)}" [name]="player"
    class="player-position" [playerActive]="i == game.currentPlayer"></app-player>
<div class="game-screen">
    <div class="card-stack-container">
        <div class="card-stack">
            <!--Card stack-->
            <img *ngFor="let c of [0,1,2,3]; let i = index;" [ngStyle]="{'left.px': i*5}"
                src="./../../assets/img/cards/back.svg">
            <img (click)="takeCard()" class="top-card" style="left: 20px;" src="./../../assets/img/cards/back.svg">

            <!--Stack for played cards-->
            <img *ngFor="let card of game.playedCard" class="played-card" src="./../../assets/img/cards/{{ card }}.svg"
                alt="">
            <!--Current card (Animation)-->
            <img *ngIf="pickCardAnimation" class="pick-card" style="left: 20px;"
                src="./../../assets/img/cards/{{ currentCard }}.svg">
        </div>
    </div>

    <div (click)="endGame()" id="buttonId" class="end-button">
        <img class="buttonImg" src="./../../assets/img/start/fire_smal.gif" alt="">
        <div id="buttonIdText" class="button-text">
            <img class="d-none" id="buttonTextId" src="./../../assets/img/start/end-button.png" alt="">
        </div>
    </div>

    <app-game-info></app-game-info>

    <button mat-fab color="disabled" (click)="openDialog('750ms' , '500ms')" class="button-add">
        <mat-icon>add</mat-icon>
    </button>

</div>