$cardSize: 140px;
$cardSizeMobile: 80px;
$cardSizeRatio: 1.422;

.game-screen {
    width: 100vw;
    height: 100vh;
    max-height: 100%;

}

.card-stack-container {
    position: relative;
    left: calc(50% - $cardSize/2);
    top: calc(50% - $cardSize*$cardSizeRatio/2);
}

.card-stack {
    position: absolute;
    animation: cardStackIn 3s forwards;


    img {
        position: absolute;
        width: $cardSize;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.pick-card {
    transform: scale(1.1) translateX(200px) translateY(-180px) rotate(-10deg);
    animation: pickCardAnimation 1s ease-in-out;

}

.played-card {
    left: 20px;
    transform: scale(1.1) translateX(200px) translateY(-180px) rotate(-10deg);

}

.end-button {
    width: 80%;
    position: relative;
    left: calc(50% - 100px);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 50px);
    padding-bottom: 50px;
    width: max-content;
    z-index: 99;
    cursor: pointer;
    animation: fireMoveLeft 2.4s forwards;
    opacity: 0.4;
}

.end-button-reverse {
    width: 100px;
    position: relative;
    left: 30px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 50px);
    padding-bottom: 50px;
    width: max-content;
    z-index: 99;
    cursor: pointer;
    animation: fireMoveLeftReverse 2.4s forwards;
    opacity: 0.4;
}

.buttonImg {
    width: 80%;
    transition: all 0.5s ease-in-out;
}

.end-button:hover {
    opacity: 1 !important;
}

.buttonTextIn {
    bottom: 0px;
    animation: textPlayAnimation 0.4s ease-in-out;
}

.buttonTextOut {
    bottom: 15px;
    animation: textPlayAnimationReverse 0.4s ease-in-out;
}

.button-text {
    position: absolute;
    bottom: 50px;
    z-index: 1;
}

.button-text img {
    filter: invert(1);
    width: 80px;
}

.player-position {
    position: absolute;
    max-width: 150px;
    width: 120px;
    right: 10px;
    height: 80%;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

.player-position-mobile {
    position: absolute;
    display: none;
    flex-direction: center;
    justify-content: center;
}

.button-add {
    position: absolute;
    background-color: rgb(209, 23, 23);
    right: 40px;
    bottom: 40px;
}

.grey-button {
    background-color: rgba(97, 97, 97, 0.708);
}

@keyframes textPlayAnimation {
    from {
        transform: translateY(15px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes textPlayAnimationReverse {
    from {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(15px);
        opacity: 0;
        display: none;
    }
}

@keyframes fireMoveLeft {
    from {
        opacity: 1;
        left: calc(50% - 100px);
        width: 200px;
    }

    to {
        opacity: 1;
        left: 30px;
        width: 100px;
    }
}

@keyframes fireMoveLeftReverse {
    from {
        left: 30px;
        width: 100px;
        opacity: 1;
    }

    to {
        left: calc(50% - 100px);
        width: 200px;
        opacity: 0.4;
    }
}

@keyframes cardStackIn {
    from {
        opacity: 0.0;
    }

    80% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.7);
    }

    60% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.1) translateX(200px) translateY(-180px) rotate(-10deg);
    }
}

@media (max-width: 1023px) {

    .buttonImg {
        width: 10vw;
        opacity: 0.4;
        transition: all 0.5s ease-in-out;
    }
}

@media (max-width: 1023px) {
    //mobile vertical

    .button-add {
        height: 5vw;
        width: 5vw;
        right: 40px;
        bottom: 40px;
    }

    .pick-card {
        transform: scale(1.1) translateX(10px) translateY(-280px) rotate(-10deg);
        animation: pickCardAnimationTablet 1s ease-in-out;

    }

    .played-card {
        left: 20px;
        transform: scale(1.1) translateX(10px) translateY(-280px) rotate(-10deg);

    }

    .player-position-mobile {
        display: flex;
        width: 50px;
        right: 25px;

    }

    .player-position {
        display: none;
    }

    @keyframes pickCardAnimationTablet {
        0% {
            transform: scale(1);
        }

        40% {
            transform: scale(1.7);
        }

        60% {
            transform: scale(1.7);
        }

        100% {
            transform: scale(1.1) translateX(10px) translateY(-280px) rotate(-10deg);
        }
    }

}

@media (max-width: 1023px) and (max-height: 960px) {
    //mobile vertical

    .end-button {
        display: none;
    }

    .end-button-reverse {
        display: none;
    }

    .button-add {
        height: 6vw;
        width: 6vw;
        right: 15px;
        bottom: 15px;
    }

    .card-stack-container {
        position: relative;
        left: calc(50% - $cardSizeMobile/2) !important;
        top: calc(50% - $cardSizeMobile*$cardSizeRatio/2);
    }

    .card-stack {

        img {
            width: $cardSizeMobile;
        }
    }

    .pick-card {
        transform: scale(1.1) translateX(10px) translateY(-180px) rotate(-10deg);
        animation: pickCardAnimationMobile 1s ease-in-out;

    }

    .played-card {
        left: 20px;
        transform: scale(1.1) translateX(10px) translateY(-180px) rotate(-10deg);

    }

    .player-position-mobile {
        display: flex;
        width: 50px;
        right: 10px;

    }

    .player-position {
        display: none;
    }

    @keyframes pickCardAnimationMobile {
        0% {
            transform: scale(1);
        }

        40% {
            transform: scale(1.7);
        }

        60% {
            transform: scale(1.7);
        }

        100% {
            transform: scale(1.1) translateX(10px) translateY(-180px) rotate(-10deg);
        }
    }

}