body{
    background-color: black;
    margin: 0;
    overflow: hidden;
    padding-bottom: 50px;
}

.d-none{
    display: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
